<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">giris</button>
</form>
<a href="/users/register">kayit al</a>